* {
  margin: 0;
  padding: 0;
}


#blackboard-frame {
  border-radius: 16px;
  margin: 20px auto 0;
  padding: 16px;

}

#blackboard {

  display: block;
}
.center{
  position: relative;
  margin: 20px auto 0;
  width: 80px;

}

#mel{
  position: absolute;
  left: 16px;
  top: 16px;
}